/*
Colin Bartels
INFO 343 C
This file contains the css that controls the review page
*/

img {
	max-height: 40%;
}

body {
	word-wrap: break-word;
	padding-bottom: 5%;
}

#average {
	margin-bottom: 15px;
}

.review {
	border: 1px solid black;
	padding: 10px;
	margin-top: 10px;
}

.vote {
	float: right;
}

.reviewContent {
	padding: 10px;
}

.helpful {
	padding-bottom: 10px;
}

form {
	padding: 20px;
}